<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places"></ion-back-button>
    </ion-buttons>
    <ion-title>{{place.title}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="deletePlace()">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-slides pager = "true">
          <ion-slide>
            <ion-img [src]="place.imageURL"></ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img [src]="place.imageURL2"></ion-img>
          </ion-slide>
          <ion-slide>
            <ion-img [src]="place.imageURL3"></ion-img>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row>
    </ion-row>
    <ion-row>
      
      
      <ion-col size = 5>
        <ion-card color = "light">
          <h4 class = "ion-text-center">Precio/Noche</h4>
          <h5 class = "ion-text-center">₡{{place.price}}</h5>
        </ion-card>
      </ion-col>
      <ion-col size = 2>
        <h1 class = "ion-text-center"></h1>
      </ion-col>
      <ion-col size = 5>
        <ion-card color = "light">
        <h5 class = "ion-text-center">{{place.dato}} <br> Anfitrión: {{place.anfitrion}}</h5>
      </ion-card>
      </ion-col>
      <ion-col>
        <ion-card color = "light" size = 12>
        <h4 class = "ion-text-center">{{place.descripcion}}</h4>
      </ion-card>
    </ion-col>
    <ion-col size = 12>
      <h1 class = "ion-text-center">Detalles</h1>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list *ngIf="place.comments && place.comments.length > 0; else noComments">
          <ion-item *ngFor="let comment of place.comments">
            {{comment}}
          </ion-item>
        </ion-list>
        <ng-template #noComments>
          <ion-text>
            <p class="ion-text-center">No comments yet.</p>
          </ion-text>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>