
<ion-content color = "light">
  <ion-card>
    <ion-img src="assets/fotos/airbnb.png"></ion-img>
  </ion-card>
</ion-content>
<ion-content color = "light">
  <ion-row>
    <ion-col>
      <ion-card color = "dark">
        <ion-card-content>
          <ion-input placeholder="Ingrese el usuario" type="text"  #Usuario></ion-input>
        </ion-card-content>
      </ion-card>
      <ion-card color = "dark">
        <ion-card-content>
          <ion-input placeholder="Ingrese el Contraseña" #Contra></ion-input>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
  <ion-content color = "light">
    <ion-fab horizontal="end" slot="fixed">
      <ion-button color="tertiary"   href="/places">
      Entrar
    </ion-button>
    </ion-fab>
  </ion-content>